.fctnmnt {
    width: 90%;
    height: 81.2rem;
    margin: auto;
    h1 {
        margin: 12rem 0 6rem 0;
    }
    .list-cards-ctn {
        height: 57.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}