.heading {
    display: flex;
    height: 16rem;
    position: relative;
    &__logo-ctn {
        width: 100%;
        @include flex-centered();
        img {
            width: 50%;
            max-height: 14rem;
        }
    }
    &__arrow-ctn {
        width: 4rem;
        position: absolute;
        top: 5.5rem;
        left: 8rem;
        img {
            width: 100%;
            height: auto;
        }
    }
}