.loader-ctn {
    position: absolute;
    width: 100%;
    height: 16rem;
    z-index: -1;
    &__logo-loader {
        width: 100%;
        height: inherit;
        img {
            position: relative;
            width: 50%;
            max-height: 14rem;
            left: 25%;
            top: 30rem;
            opacity: 0.6;
            animation: anim-logo 650ms 2000ms ease-in-out forwards;
        }
    }
    &__loader {
        position: relative;
        top: 30rem;
        width: 10%;
        height: 7.5rem;
        margin: auto;
        @include flex-centered();
        justify-content: space-around;
        .bar {
            width: 2rem;
            height: 7.5rem;
            animation: bars $anim-dur backwards ease-in-out infinite;
            animation-direction: alternate;
            @for $i from 1 through $num-bar {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            &--prim-clr {
                background-color: $color-primary;
            }
            &--sec-clr {
                background-color: $color-tertiary;
            }
            &--tert-clr {
                background-color: $color-secondary;
            }
            }
        }
    }
}