* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

.titre, .foot-logo {
  font-family: "Shrikhand", cursive;
}

.txt--white {
  color: #FFF;
}
.txt--darken-tertiary {
  color: #278870;
}
.txt--grey {
  color: #3c3c3c;
}
.txt--rest-title {
  font-size: 3rem;
}
.txt--title {
  font-size: 8rem;
}
.txt--desc {
  font-size: 5rem;
}
.txt--card-title {
  font-size: 5rem;
}
.txt--price {
  font-size: 1.6rem;
}
.txt--new {
  font-size: 4rem;
}
.txt--foot-logo {
  font-size: 5rem;
}
.txt--title-desc {
  font-size: 8rem;
}
.txt--btn {
  font-size: 5rem;
}
.txt--list-card-num {
  font-size: 3rem;
}
.txt--list-card-title {
  font-size: 3.5rem;
}
.txt--card-desc {
  font-size: 4rem;
}
.txt--foot-links {
  font-size: 4rem;
}
.txt--menu-cat {
  font-size: 5rem;
}
.txt--menu-card-title {
  font-size: 4rem;
}
.txt--menu-card-desc {
  font-size: 3rem;
}
.txt--menu-card-price {
  font-size: 3rem;
}
.txt--menu-btn {
  font-size: 4rem;
}
.txt--to-upper {
  text-transform: uppercase;
}

.btn {
  width: 75%;
  background: -webkit-radial-gradient(top left, ellipse, #FF79DA, #9356DC);
  padding: 4rem;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
}

a {
  text-decoration: none;
  color: black;
}

.large-card {
  width: 90%;
  margin: auto;
  background-color: #FFF;
  height: 60rem;
  border-radius: 3rem;
  position: relative;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
}
.large-card__img-ctn img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
  border-radius: 3rem 3rem 0 0;
}
.large-card__img-ctn figcaption {
  width: 90%;
  height: 15rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.large-card__img-ctn figcaption .large-card-heart-icon img {
  width: 5rem;
  height: 5rem;
  height: 5rem;
}
.large-card__new {
  width: 20rem;
  background-color: #99E2D0;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.small-card {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  height: 13rem;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}
.small-card__price-ctn {
  width: 10rem;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.list-card {
  width: 90%;
  margin: auto;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 15rem;
  border-radius: 5rem;
  position: relative;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
}
.list-card__num-ctn {
  background-color: #9356DC;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: -2rem;
  top: 5.5rem;
}
.list-card__num-ctn span {
  margin: auto;
}
.list-card__img-ctn {
  margin-left: 7rem;
  margin-top: 1rem;
}
.list-card__img-ctn img {
  width: 4rem;
  height: 4rem;
}
.list-card h2 {
  margin-left: 7rem;
}

.heading {
  display: flex;
  height: 16rem;
  position: relative;
}
.heading__logo-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading__logo-ctn img {
  width: 50%;
  height: auto;
}
.heading__arrow-ctn {
  width: 4rem;
  position: absolute;
  top: 5.5rem;
  left: 8rem;
}
.heading__arrow-ctn img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #363438;
}
footer .foot-ctn {
  width: 80%;
  margin: auto;
  padding: 5rem 0 8rem 0;
}
footer .foot-ctn h1 {
  margin-bottom: 5rem;
}
footer .foot-ctn li {
  list-style-type: none;
  margin-bottom: 2rem;
}
footer .foot-ctn li a {
  display: flex;
}
footer .foot-ctn .foot-icon {
  width: 3.5rem;
  height: 3.5rem;
}
footer .foot-ctn .foot-link-txt-ctn {
  margin-left: 3rem;
}

.form-ctn {
  width: 100%;
  height: 16rem;
  border-top: 0.8rem solid #969696;
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-ctn__img-ctn {
  margin-left: 10rem;
}
.form-ctn__img-ctn img {
  width: 4rem;
  height: 4rem;
}
.form-ctn__form {
  height: 4rem;
  margin-left: 7rem;
}
.form-ctn__form input {
  height: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
  font-weight: 700;
  font-size: 4.5rem;
}
.form-ctn__form input :active {
  outline: none;
}

.pres-ctn__desc-ctn {
  width: 100%;
  height: 81.2rem;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem 0 5rem;
  text-align: center;
}
.pres-ctn__desc-ctn h1 {
  margin-bottom: 8rem;
}
.pres-ctn__desc-ctn p {
  margin-bottom: 8rem;
}

.fctnmnt {
  width: 90%;
  height: 81.2rem;
  margin: auto;
}
.fctnmnt h1 {
  margin: 12rem 0 6rem 0;
}
.fctnmnt .list-cards-ctn {
  height: 57.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rest-ctn {
  margin-top: 5rem;
  padding-bottom: 12rem;
  width: 100%;
  background-color: #e7e7e7;
}
.rest-ctn--centered {
  width: 90%;
  margin: auto;
}
.rest-ctn--centered h1 {
  padding: 12rem 0 6rem 0;
}
.rest-ctn--centered .large-cards-ctn {
  height: 260rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rest-img-ctn {
  width: 100%;
  height: 70rem;
  position: relative;
  z-index: 1;
}
.rest-img-ctn__img {
  height: 70rem;
  max-width: 100%;
  object-fit: cover;
}

.menu-ctn {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 10rem 10rem 0 0;
  position: relative;
  margin-top: -13.5rem;
  z-index: 2;
}
.menu-ctn--smaller {
  width: 90%;
  margin: auto;
  padding-top: 8rem;
}
.menu-ctn--smaller .rest-title-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.menu-ctn--smaller .rest-title-ctn h1 {
  font-size: 8rem;
}
.menu-ctn--smaller .rest-title-ctn .rest-heart-icon {
  width: 6rem;
  height: 6rem;
}

.part-menu-ctn {
  margin-top: 8rem;
}
.part-menu-ctn__title {
  margin-bottom: 0.5rem;
}
.part-menu-ctn__title-underline {
  height: 1rem;
  width: 13rem;
  background-color: #99E2D0;
  margin-bottom: 3rem;
}

.btn-ctn {
  width: 100%;
  height: 40rem;
  display: flex;
  padding-bottom: 7.5rem;
}
.btn-ctn .btn--rest {
  width: 60%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
