@keyframes anim-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-logo {
  0% {
    transform: translateY(0);
  }
  95% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(-26.25rem);
    opacity: 0;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.75);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 0.8;
  }
}
@keyframes heart {
  from {
    background-size: 6rem 0rem;
  }
  to {
    background-size: 6rem 6rem;
  }
}
@keyframes menus {
  0% {
    transform: translateY(2.5rem);
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes small-card-ctn-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-resolution: 190dpi) and (max-width: 1023px) {
  html {
    font-size: 30%;
  }
}

body {
  max-width: 100%;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}

.titre, .foot-logo {
  font-family: "Shrikhand", cursive;
}

.txt--white {
  color: #FFF;
}
.txt--darken-tertiary {
  color: #278870;
}
.txt--grey {
  color: #3c3c3c;
}
.txt--rest-title {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .txt--rest-title {
    font-size: 0.75rem;
  }
}
.txt--title {
  font-size: 8rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .txt--title {
    font-size: 4rem;
  }
}
.txt--desc {
  font-size: 5rem;
}
@media screen and (min-width: 1024px) {
  .txt--desc {
    font-size: 2rem;
  }
}
.txt--card-title {
  font-size: 4.2rem;
}
@media screen and (min-width: 1024px) {
  .txt--card-title {
    font-size: 2rem;
  }
}
.txt--price {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .txt--price {
    font-size: 0.4rem;
  }
}
.txt--new {
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  .txt--new {
    font-size: 1.25rem;
  }
}
.txt--foot-logo {
  font-weight: normal;
  font-size: 5rem;
}
@media screen and (min-width: 1024px) {
  .txt--foot-logo {
    font-size: 2.5rem;
  }
}
.txt--title-desc {
  font-size: 8rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .txt--title-desc {
    font-size: 4rem;
  }
}
.txt--btn {
  font-size: 5rem;
}
@media screen and (min-width: 1024px) {
  .txt--btn {
    font-size: 2rem;
  }
}
.txt--list-card-num {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .txt--list-card-num {
    font-size: 1.25rem;
  }
}
.txt--list-card-title {
  font-size: 3.5rem;
}
@media screen and (min-width: 1024px) {
  .txt--list-card-title {
    font-size: 2rem;
  }
}
.txt--card-desc {
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  .txt--card-desc {
    font-size: 1.5rem;
  }
}
.txt--foot-links {
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  .txt--foot-links {
    font-size: 1.5rem;
  }
}
.txt--menu-cat {
  font-size: 5rem;
}
@media screen and (min-width: 1024px) {
  .txt--menu-cat {
    font-size: 2.5rem;
  }
}
.txt--menu-card-title {
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@media screen and (min-width: 1024px) {
  .txt--menu-card-title {
    font-size: 2rem;
  }
}
.txt--menu-card-desc {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
@media screen and (min-width: 1024px) {
  .txt--menu-card-desc {
    font-size: 1.5rem;
  }
}
.txt--menu-card-price {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .txt--menu-card-price {
    font-size: 1.5rem;
  }
}
.txt--menu-btn {
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  .txt--menu-btn {
    font-size: 2rem;
  }
}
.txt--to-upper {
  text-transform: uppercase;
}

.btn {
  width: 75%;
  background: -webkit-radial-gradient(top left, ellipse, #FF79DA, #9356DC);
  padding: 4rem;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  opacity: 1;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
  transition: all 500ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0rem 1.5rem 1.5rem #505050;
}
@media screen and (min-width: 1024px) {
  .btn:hover {
    box-shadow: 0rem 0.3rem 0.3rem #505050;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    width: 25%;
    max-width: 30rem;
    padding: 1rem;
    box-shadow: 0rem 0.3rem 0.3rem #bebebe;
  }
}

.heart-btn {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  background-color: #FFF;
  mask-image: url("../../img/icons/heart-solid-unfilled.svg");
  -webkit-mask-image: url("../../img/icons/heart-solid-unfilled.svg");
}
@media screen and (min-width: 1024px) {
  .heart-btn {
    bottom: 2.25rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
}
.heart-btn .fa-heart {
  font-size: 6rem;
  position: relative;
  right: 0.18rem;
  bottom: 0.22rem;
  background: linear-gradient(to top, #FF79DA, #9356DC) no-repeat bottom;
  background-size: 6rem 0rem;
}
@media (max-resolution: 190dpi) and (max-width: 1023px) {
  .heart-btn .fa-heart {
    right: 8%;
    bottom: 8%;
  }
}
@media screen and (min-width: 1024px) {
  .heart-btn .fa-heart {
    font-size: 3rem;
    right: 0.22rem;
    bottom: 0.19rem;
  }
}
.heart-btn:focus > .fa-heart {
  animation: heart 2000ms ease-out both;
}

a {
  text-decoration: none;
  color: black;
}

.large-card {
  width: 90%;
  margin: auto;
  background-color: #FFF;
  height: 60rem;
  border-radius: 3rem;
  position: relative;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
}
@media screen and (min-width: 1024px) {
  .large-card {
    width: 40%;
    height: 30rem;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.3rem 0.3rem #bebebe;
    margin-top: 8rem;
  }
}
.large-card__img-ctn img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
  border-radius: 3rem 3rem 0 0;
}
@media screen and (min-width: 1024px) {
  .large-card__img-ctn img {
    height: 22rem;
    border-radius: 0.75rem 0.75rem 0 0;
  }
}
.large-card__img-ctn figcaption {
  width: 90%;
  height: 15rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .large-card__img-ctn figcaption {
    height: 8rem;
  }
}
.large-card__new {
  width: 20rem;
  background-color: #99E2D0;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
@media screen and (min-width: 1024px) {
  .large-card__new {
    width: 8rem;
    padding: 0.4rem 0 0.4rem 0;
    border-radius: 0.25rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}

.small-card-ctn {
  position: relative;
  width: 100%;
  border-radius: 2.5rem;
  cursor: pointer;
  background-color: #FFF;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
  animation: menus 500ms 500ms ease-in both 1;
}
.small-card-ctn--1 {
  animation-delay: 500ms;
}
.small-card-ctn--2 {
  animation-delay: 1000ms;
}
.small-card-ctn--3 {
  animation-delay: 1500ms;
}
.small-card-ctn--4 {
  animation-delay: 2000ms;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn {
    box-shadow: 0rem 0.3rem 0.3rem #bebebe;
    border-radius: 1.25rem;
  }
}
.small-card-ctn__anim-ctn {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 13rem;
  border-radius: 0 2.5rem 2.5rem 0;
  background-color: #99E2D0;
  overflow: hidden;
  transition: width 400ms ease-out;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn__anim-ctn {
    height: 6.5rem;
    border-radius: 0 1.25rem 1.25rem 0;
  }
}
.small-card-ctn__anim-ctn__check {
  position: relative;
  top: 3.5rem;
  margin-left: 3.5rem;
  min-height: 6rem;
  min-width: 6rem;
  max-width: 6rem;
  background: url("../../img/icons/check-circle-solid.svg") no-repeat;
  transform: rotate(0deg);
  transition: transform 400ms ease-out;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn__anim-ctn__check {
    top: 28%;
    margin-left: 1.75rem;
    min-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
  }
}
.small-card-ctn .small-card {
  position: relative;
  max-width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn .small-card {
    height: 6.5rem;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
  }
}
.small-card-ctn .small-card__txt-ctn {
  margin-left: 2rem;
  overflow: hidden;
}
.small-card-ctn .small-card__price-ctn {
  position: relative;
  justify-self: flex-end;
  min-width: 10rem;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  margin-left: 2rem;
  margin-right: 0;
  transition: margin-right 400ms ease-out;
}
.small-card-ctn:hover .small-card__price-ctn {
  margin-right: 13rem;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn:hover .small-card__price-ctn {
    margin-right: 6.5rem;
  }
}
.small-card-ctn:hover .small-card-ctn__anim-ctn {
  width: 13rem;
}
@media screen and (min-width: 1024px) {
  .small-card-ctn:hover .small-card-ctn__anim-ctn {
    width: 6.5rem;
  }
}
.small-card-ctn:hover .small-card-ctn__anim-ctn__check {
  transform: rotate(-360deg);
}

.list-card {
  width: 90%;
  margin: auto;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 15rem;
  border-radius: 5rem;
  position: relative;
  box-shadow: 0rem 1.5rem 1.5rem #bebebe;
}
@media screen and (min-width: 1024px) {
  .list-card {
    width: 30%;
    height: 8rem;
    border-radius: 1.25rem;
    box-shadow: 0rem 0.3rem 0.3rem #bebebe;
  }
}
.list-card__num-ctn {
  background-color: #9356DC;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: -2rem;
  top: 5.5rem;
}
.list-card__num-ctn span {
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .list-card__num-ctn {
    width: 3rem;
    height: 3rem;
    left: -1.5rem;
    top: 33%;
  }
}
.list-card__img-ctn {
  margin-left: 7rem;
  margin-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .list-card__img-ctn {
    margin-left: 3.5rem;
    margin-top: 0.25rem;
  }
}
.list-card__img-ctn img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1024px) {
  .list-card__img-ctn img {
    width: 2rem;
    height: 2rem;
  }
}
.list-card h2 {
  margin-left: 7rem;
}
@media screen and (min-width: 1024px) {
  .list-card h2 {
    margin: auto 2rem auto 2.5rem;
  }
}
.list-card--lighten-primary {
  background: #f2eafb;
}

.loader-ctn {
  position: absolute;
  width: 100%;
  height: 16rem;
  z-index: -1;
}
.loader-ctn__logo-loader {
  width: 100%;
  height: inherit;
}
.loader-ctn__logo-loader img {
  position: relative;
  width: 50%;
  max-height: 14rem;
  left: 25%;
  top: 30rem;
  opacity: 0.6;
  animation: anim-logo 650ms 2000ms ease-in-out forwards;
}
@media screen and (min-width: 1024px) {
  .loader-ctn__logo-loader img {
    max-height: 5rem;
  }
}
.loader-ctn__loader {
  position: relative;
  top: 30rem;
  width: 10rem;
  height: 7.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.loader-ctn__loader .bar {
  width: 2rem;
  height: 7.5rem;
  animation: bars 300ms backwards ease-in-out infinite;
  animation-direction: alternate;
}
.loader-ctn__loader .bar--1 {
  animation-delay: 50ms;
}
.loader-ctn__loader .bar--prim-clr {
  background-color: #9356DC;
}
.loader-ctn__loader .bar--sec-clr {
  background-color: #99E2D0;
}
.loader-ctn__loader .bar--tert-clr {
  background-color: #FF79DA;
}
.loader-ctn__loader .bar--2 {
  animation-delay: 100ms;
}
.loader-ctn__loader .bar--prim-clr {
  background-color: #9356DC;
}
.loader-ctn__loader .bar--sec-clr {
  background-color: #99E2D0;
}
.loader-ctn__loader .bar--tert-clr {
  background-color: #FF79DA;
}
.loader-ctn__loader .bar--3 {
  animation-delay: 150ms;
}
.loader-ctn__loader .bar--prim-clr {
  background-color: #9356DC;
}
.loader-ctn__loader .bar--sec-clr {
  background-color: #99E2D0;
}
.loader-ctn__loader .bar--tert-clr {
  background-color: #FF79DA;
}

.page {
  position: absolute;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  animation: anim-page 350ms 2650ms forwards;
  background-color: #FFF;
}

.heading {
  display: flex;
  height: 16rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .heading {
    height: 8rem;
  }
}
.heading__logo-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading__logo-ctn img {
  width: 50%;
  max-height: 14rem;
}
@media screen and (min-width: 1024px) {
  .heading__logo-ctn img {
    max-height: 5rem;
  }
}
.heading__arrow-ctn {
  width: 4rem;
  position: absolute;
  top: 5.5rem;
  left: 8rem;
}
@media screen and (min-width: 1024px) {
  .heading__arrow-ctn {
    top: 25%;
  }
}
.heading__arrow-ctn img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  .heading__arrow-ctn img {
    max-height: 4rem;
  }
}

footer {
  background-color: #363438;
}
footer .foot-ctn {
  width: 80%;
  margin: auto;
  padding: 5rem 0 8rem 0;
}
@media screen and (min-width: 1024px) {
  footer .foot-ctn {
    padding: 1.25rem 0 2rem 0;
  }
}
footer .foot-ctn h1 {
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  footer .foot-ctn h1 {
    margin-bottom: 1.5rem;
  }
}
footer .foot-ctn li {
  list-style-type: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  footer .foot-ctn li {
    margin-bottom: 0.5rem;
  }
}
footer .foot-ctn li a {
  display: flex;
}
footer .foot-ctn .foot-icon {
  width: 3.5rem;
  height: 3.5rem;
}
@media screen and (min-width: 1024px) {
  footer .foot-ctn .foot-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
footer .foot-ctn .foot-link-txt-ctn {
  margin-left: 3rem;
}
@media screen and (min-width: 1024px) {
  footer .foot-ctn .foot-link-txt-ctn {
    margin-left: 0.75rem;
  }
}

.form-ctn {
  width: 100%;
  height: 16rem;
  border-top: 0.8rem solid #969696;
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .form-ctn {
    height: 4rem;
    border-top: 0.2rem solid #969696;
  }
}
.form-ctn__img-ctn {
  margin-left: 16rem;
}
@media screen and (min-width: 1024px) {
  .form-ctn__img-ctn {
    margin-left: 5rem;
  }
}
.form-ctn__img-ctn img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1024px) {
  .form-ctn__img-ctn img {
    width: 2rem;
    height: 2rem;
  }
}
.form-ctn__form {
  height: 4rem;
  margin-left: 5rem;
}
@media screen and (min-width: 1024px) {
  .form-ctn__form {
    height: 2rem;
    margin-left: 4rem;
  }
}
.form-ctn__form input {
  height: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
  font-weight: 700;
  font-size: 4.5rem;
}
@media screen and (min-width: 1024px) {
  .form-ctn__form input {
    font-size: 2rem;
  }
}
.form-ctn__form input :active {
  outline: none;
}

.pres-ctn__desc-ctn {
  width: 100%;
  height: 81.2rem;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5rem 0 5rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .pres-ctn__desc-ctn {
    height: 18rem;
    padding: 0;
  }
}
.pres-ctn__desc-ctn h1, .pres-ctn__desc-ctn p {
  margin-bottom: 8rem;
}
@media screen and (min-width: 1024px) {
  .pres-ctn__desc-ctn h1, .pres-ctn__desc-ctn p {
    margin-bottom: 1rem;
  }
}

.fctnmnt {
  width: 90%;
  height: 81.2rem;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .fctnmnt {
    height: auto;
  }
}
.fctnmnt h1 {
  margin: 12rem 0 6rem 0;
}
@media screen and (min-width: 1024px) {
  .fctnmnt h1 {
    margin: 3rem 0 0 0;
  }
}
.fctnmnt .list-cards-ctn {
  height: 57.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1024px) {
  .fctnmnt .list-cards-ctn {
    height: auto;
    flex-direction: row;
    margin-top: 8rem;
  }
}

.rest-ctn {
  margin-top: 5rem;
  padding-bottom: 12rem;
  width: 100%;
  background-color: #e7e7e7;
}
@media screen and (min-width: 1024px) {
  .rest-ctn {
    background-color: #FFF;
  }
}
.rest-ctn--centered {
  width: 90%;
  margin: auto;
}
.rest-ctn--centered h1 {
  padding: 12rem 0 6rem 0;
}
@media screen and (min-width: 1024px) {
  .rest-ctn--centered h1 {
    padding: 3rem 0 0 0;
  }
}
.rest-ctn--centered .large-cards-ctn {
  height: 260rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .rest-ctn--centered .large-cards-ctn {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .flex-laptop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.rest-img-ctn {
  width: 100%;
  height: 70rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .rest-img-ctn {
    width: 40%;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}
.rest-img-ctn__img {
  height: 70rem;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .rest-img-ctn__img {
    height: 100%;
  }
}

.menu-ctn {
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 10rem 10rem 0 0;
  position: relative;
  margin-top: -13.5rem;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .menu-ctn {
    width: 60%;
    border-radius: 0;
    margin-top: 0;
  }
}
.menu-ctn--smaller {
  width: 90%;
  margin: auto;
  padding-top: 8rem;
}
@media screen and (min-width: 1024px) {
  .menu-ctn--smaller {
    padding-top: 2rem;
  }
}
.menu-ctn--smaller .rest-title-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.menu-ctn--smaller .rest-title-ctn h1 {
  font-size: 8rem;
}
@media screen and (min-width: 1024px) {
  .menu-ctn--smaller .rest-title-ctn h1 {
    font-size: 4rem;
  }
}
.menu-ctn--smaller .rest-title-ctn .rest-heart-icon {
  width: 6rem;
  height: 6rem;
}
@media screen and (min-width: 1024px) {
  .menu-ctn--smaller .rest-title-ctn .rest-heart-icon {
    width: 3rem;
    height: 3rem;
  }
}

.part-menu-ctn {
  margin-top: 8rem;
}
@media screen and (min-width: 1024px) {
  .part-menu-ctn {
    margin-top: 4rem;
  }
}
.part-menu-ctn__title {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .part-menu-ctn__title {
    margin-bottom: 0.25rem;
  }
}
.part-menu-ctn__title-underline {
  height: 1rem;
  width: 13rem;
  background-color: #99E2D0;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .part-menu-ctn__title-underline {
    height: 0.5rem;
    width: 6.5rem;
    margin-bottom: 1.5rem;
  }
}

.btn-ctn {
  width: 100%;
  height: 40rem;
  display: flex;
  padding-bottom: 7.5rem;
}
@media screen and (min-width: 1024px) {
  .btn-ctn {
    height: 20rem;
  }
}
.btn-ctn .btn--rest {
  width: 60%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
