.btn {
    width: 75%;
    background: $btn-background;
    padding: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    opacity: 1;
    @include card-btn-shadow();
    transition: all 500ms ease-in-out;
    &:hover {
        opacity: .8;
        @include card-btn-shadow($color: $offset-darker);
    }
}

.heart-btn {
    position: absolute;
    top: 50rem;
    left: 70rem;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    background-color: $white;
    mask-image: url("../../img/icons/heart-solid-unfilled.svg");
    -webkit-mask-image: url("../../img/icons/heart-solid-unfilled.svg");
    .fa-heart {
        font-size: 6rem;
        position: relative;
        right: .18rem;
        bottom: .22rem;
        background: $heart-color no-repeat bottom;
        background-size: 6rem 0rem;
    }
    &:focus > .fa-heart {
        animation: heart 2000ms ease-out both;
    }
}