.btn {
    width: 75%;
    background: $btn-background;
    padding: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    opacity: 1;
    @include card-btn-shadow();
    transition: all 500ms ease-in-out;
    &:hover {
        opacity: .8;
        @include card-btn-shadow($color: $offset-darker);
    }
}