.large-card {
    width: 90%;
    margin: auto;
    background-color: $white;
    height: 60rem;
    border-radius: 3rem;
    position: relative;
    @include card-btn-shadow();
    @media screen and (min-width: $breakpoint-laptop) {
        width: 40%;
        height: 30rem;
        border-radius: 0.75rem;
        @include card-btn-shadow(map-get($shadow, offset-bottom-laptop),
                                 map-get($shadow, offset-right-laptop), 
                                 map-get($shadow, offset-blur-laptop),
                                 map-get($shadow, spread-laptop));
        margin-top: 8rem;
    }
    &__img-ctn {
        img {
            width: 100%;
            height: 45rem;
            object-fit: cover;
            border-radius: 3rem 3rem 0 0;
            @media screen and (min-width: $breakpoint-laptop) {
                height: 22rem;
                border-radius: 0.75rem 0.75rem 0 0;
            }
        }
        figcaption {
            width: 90%;
            height: 15rem;
            margin: auto;
            @include flex-centered();
            justify-content: space-between;
            position: relative;
            @media screen and (min-width: $breakpoint-laptop) {
                height: 8rem;
            }
        }
    }
    &__new {
        width: 20rem;
        background-color: $color-tertiary;
        text-align: center;
        padding: 1.5rem 0 1.5rem 0;
        border-radius: 1rem;
        position: absolute;
        top: 3rem;
        right: 3rem;
        @media screen and (min-width: $breakpoint-laptop) {
            width: 8rem;
            padding: .4rem 0 .4rem 0;
            border-radius: .25rem;
            top: .75rem;
            right: .75rem;
        }
    }

}