.large-card {
    width: 90%;
    margin: auto;
    background-color: $white;
    height: 60rem;
    border-radius: 3rem;
    position: relative;
    @include card-btn-shadow();
    &__img-ctn {
        img {
            width: 100%;
            height: 45rem;
            object-fit: cover;
            border-radius: 3rem 3rem 0 0;
        }
        figcaption {
            width: 90%;
            height: 15rem;
            margin: auto;
            @include flex-centered();
            justify-content: space-between;
            position: relative;
            .large-card-text-ctn {
                
            }
            .heart-top-ctn {
                width: 6rem;
                height: 6rem;
                @include flex-centered();
                background-color: $white;
                position: absolute;
                left: 67rem;
                z-index: 2;
                transition: height 2s;
                overflow: hidden;
                &:hover {
                    // animation: heart 5s ease-in;
                    // transform-origin: top;
                    height: 0rem;
                }
            }
            .heart-bot-ctn {
                width: 6rem;
                height: 6rem;
                @include flex-centered();
                position: absolute;
                left: 67rem;
                z-index: 1;
            }
            .heart {
                    width: 6rem;
                    height: 6rem;
                    border-radius: 0;
                }
        }
    }
    &__new {
        width: 20rem;
        background-color: $color-tertiary;
        text-align: center;
        padding: 1.5rem 0 1.5rem 0;
        border-radius: 1rem;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }

}