.list-card {
    width: 90%;
    margin: auto;
    background-color: $list-card-bg-clr;
    @include flex-centered();
    justify-content: flex-start;
    height: 15rem;
    border-radius: 5rem;
    position: relative;
    @include card-btn-shadow();
    @media screen and (min-width: $breakpoint-laptop) {
        width: 25%;
        max-width: 25rem;
        height: 4rem;
        border-radius: 1.25rem;
        @include card-btn-shadow(map-get($shadow, offset-bottom-laptop),
                                 map-get($shadow, offset-right-laptop), 
                                 map-get($shadow, offset-blur-laptop),
                                 map-get($shadow, spread-laptop));
    }
    &__num-ctn {
        background-color: $color-primary;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: -2rem;
        top: 5.5rem;
        span {
            margin: auto;
        }
        @media screen and (min-width: $breakpoint-laptop) {
            width: 1.5rem;
            height: 1.5rem;
            left: -.5rem;
            top: 33%;
        }
    }
    &__img-ctn {
        margin-left: 7rem;
        margin-top: 1rem;
        @media screen and (min-width: $breakpoint-laptop) {
            margin-left: 2rem;
            margin-top: 0.25rem;
        }
        img {
            @include sizing-icons(map-get($icon-sizes, list-card-icons));
            @media screen and (min-width: $breakpoint-laptop) {
                @include sizing-icons(map-get($icon-sizes, list-card-icons-laptop));
            }
        }
    }
    h2 {
        margin-left: 7rem;
        @media screen and (min-width: $breakpoint-laptop) {
            margin-left: 3rem;
        }
    }
    &--lighten-primary {
        background: $lighten-color-primary;
    }
}