.small-card {
    background-color: $white;
    @include flex-centered();
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    height: 13rem;
    @include card-btn-shadow();
    border-radius: 2.5rem;
    margin-bottom: 3rem;
    &__price-ctn {
        width: 10rem;
        height: 65%;
        @include flex-centered();
        align-items: flex-end;
    }
}