*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @media (max-resolution: 190dpi) and (max-width: 1023px) {
        font-size: 30%;
    }
    // @media screen and (min-width: $breakpoint-laptop) {
    //     font-size: 6.25%;
    // }
}


body {
    max-width: 100%;
    position: relative;
}