*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $white;

    @include resized-nav {
        font-size: 20%
   }
    // @media screen and (min-width: $breakpoint-laptop) {
    //     font-size: 6.25%;
    // }
}


body {
    max-width: 100%;
    position: relative;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #9356DC;
}
