* {
    font-family: 'Roboto', sans-serif;
}

.titre, .foot-logo {
    font-family: 'Shrikhand', cursive;
}

.txt {
    @include font-sizes();

    // Couleurs
    &--white {
        @include txt-color();
    }
    &--darken-tertiary {
        @include txt-color($new-text-clr);
    }
    &--grey {
        @include txt-color($grey);
    }

    // Font sizes
    &--rest-title {
        @include font-sizes(rest-title);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(rest-title-laptop);
        }
    }
    &--title {
        @include font-sizes(title);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(title-laptop);
        }
        font-weight: 700;
    }
    &--desc {
        @include font-sizes(desc);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(desc-laptop);
        }
    }
    &--card-title {
        @include font-sizes(card-title);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(card-title-laptop);
        }
        @include resized-nav {
            font-size: 4.8rem;
        }
    }
    &--price {
        @include font-sizes(price);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(price-laptop);
        }
    }
    &--new {
        @include font-sizes(new);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(new-laptop);
        }
    }
    &--foot-logo {
        font-weight: normal;
        @include font-sizes(foot-logo);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(foot-logo-laptop);
        }
    }
    &--title-desc {
        @include font-sizes(desc-title);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(desc-title-laptop);
        }
        font-weight: 700;
    }
    &--btn {
        @include font-sizes(btn-txt);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(btn-txt-laptop);
        }
    }
    &--list-card-num {
        @include font-sizes(list-card-num);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(list-card-num-laptop);
        }
    }
    &--list-card-title {
        @include font-sizes(list-card-titre);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(list-card-titre-laptop);
        }
        @include resized-nav {
            font-size: 4rem;
        }
    }
    &--card-desc {
        @include font-sizes(card-desc);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(card-desc-laptop);
        }
        @include resized-nav {
            font-size: 4rem;
        }
    }
    &--foot-links {
        @include font-sizes(foot-links);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(foot-links-laptop);
        }
    }
    &--menu-cat {
        @include font-sizes(menu-cat);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(menu-cat-laptop);
        }
    }
    &--menu-card-title {
        @include font-sizes(menu-card-title);
        @include text-clipping();
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(menu-card-title-laptop);
        }
        @include resized-nav {
            font-size: 4.8rem;
        }
    }
    &--menu-card-desc {
        @include font-sizes(menu-card-desc);
        @include text-clipping();
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(menu-card-desc-laptop);
        }
        @include resized-nav {
            font-size: 4rem;
        }
    }
    &--menu-card-price {
        @include font-sizes(menu-card-price);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(menu-card-price-laptop);
        }
        @include resized-nav {
            font-size: 4rem;
        }
    }
    &--menu-btn {
        @include font-sizes(menu-btn);
        @media screen and (min-width: $breakpoint-laptop) {
            @include font-sizes(menu-btn-laptop);
        }
        @include resized-nav {
            font-size: 5rem;
        }
    }

    // Uppercase
    &--to-upper {
        @include to-upper();
    }
}

