.rest-img-ctn {
    width: 100%;
    height: 70rem;
    position: relative;
    z-index: 1;
    &__img {
        height: 70rem;
        max-width: 100%;
        object-fit: cover;
    }
}

.menu-ctn {
    width: 100%;
    background-color: $main-background-clr;
    border-radius: 10rem 10rem 0 0;
    position: relative;
    margin-top: -13.5rem;
    z-index: 2;
    &--smaller {
        width: 90%;
        margin: auto;
        padding-top: 8rem;
        .rest-title-ctn {
            @include flex-centered();
            justify-content: space-between;
            h1 {
                @include font-sizes(title);
            }
            .rest-heart-icon {
                @include sizing-icons(map-get($icon-sizes, rest-heart-icon));
            }
        }
    }
}

.part-menu-ctn {
    margin-top: 8rem;
    &__title{
        margin-bottom: .5rem;
    }
    &__title-underline {
        height: 1rem;
        width: 13rem;
        background-color: $color-tertiary;
        margin-bottom: 3rem;
    }
}

.btn-ctn {
    width: 100%;
    height: 40rem;
    display: flex;
    padding-bottom: 7.5rem;
    .btn {
        &--rest {
            width: 60%;
            margin: auto;
        }
    }
}
