@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin txt-color($color: $white) {
    color: $color;
}

@mixin font-sizes($size: map-get($font-size, default)) {
    font-size: map-get($font-size, $size);
}

@mixin card-btn-shadow($off-x: map-get($shadow, offset-bottom),
                   $off-y: map-get($shadow, offset-right),
                   $blur: map-get($shadow, offset-blur),
                   $spread: map-get($shadow, spread),
                   $color: $offset-card-clr) {
    box-shadow: $off-x $off-y $blur $color;                
}

@mixin sizing-icons($s: map-get($icon-sizes, default)) {
    width: $s;
    height: $s;
};