// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-background-clr: rgb(231, 231, 231);
$form-background-clr: rgb(190, 190, 190);
$border-form-clr:rgb(150,150,150);
$offset-card-clr: rgb(190, 190, 190);
$offset-darker: rgb(80, 80, 80);
$footer-background-clr: #363438;
$btn-background: -webkit-radial-gradient(top left, ellipse, $color-secondary, $color-primary);
$list-card-bg-clr: rgb(231, 231, 231);
$new-text-clr: darken($color-tertiary, 40);
$grey: rgb(60, 60, 60);
$white: #FFF;
$heart-color: -webkit-linear-gradient(to top, $color-secondary, $color-primary);

// Tailles de police
$font-size: (
    base: 4rem,
    rest-title: 3rem,
    title: 8rem,
    desc: 5rem,
    card-title: 5rem,
    card-desc: 4rem,
    btn-txt: 5rem,
    price: 1.6rem,
    new: 4rem,
    input: 4.5rem,
    foot-logo: 5rem,
    foot-links: 4rem,
    desc-title: 8rem,
    list-card-num: 3rem,
    list-card-titre: 3.5rem,
    menu-cat: 5rem,
    menu-card-title: 4rem,
    menu-card-desc: 3rem,
    menu-card-price: 3rem,
    menu-btn: 4rem,
);

// Box Shadow
$shadow: (
    offset-bottom: 0rem,
    offset-right: 1.5rem,
    offset-blur: 1.5rem,
    spread: 0.05rem,
);

// Taille des icones
$icon-sizes : (
    default: 0.5rem,
    map-marker-size: 4rem,
    list-card-icons: 4rem,
    large-card-heart-icon: 5rem,
    footer-icons: 3.5rem,
    rest-heart-icon: 6rem,
);

// Animations 
$num-bar: 3;
$anim-dur: 300ms;
$anim-delay: $anim-dur / (2*$num-bar);