// Couleurs
$color-primary: #9356DC;
$lighten-color-primary: lighten($color-primary, 35);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-background-clr: rgb(231, 231, 231);
$form-background-clr: rgb(190, 190, 190);
$border-form-clr:rgb(150,150,150);
$offset-card-clr: rgb(190, 190, 190);
$offset-darker: rgb(80, 80, 80);
$footer-background-clr: #363438;
$btn-background: -webkit-radial-gradient(top left, ellipse, $color-secondary, $color-primary);
$list-card-bg-clr: rgb(231, 231, 231);
$new-text-clr: darken($color-tertiary, 40);
$grey: rgb(60, 60, 60);
$white: #FFF;
$heart-color: linear-gradient(to top, $color-secondary, $color-primary);

// Tailles de police
$font-size: (
    base: 4rem,
    rest-title: 3rem,
    rest-title-laptop: 0.75rem,
    title: 8rem,
    title-laptop: 4rem,
    desc: 5rem,
    desc-laptop: 2rem,
    card-title: 4.2rem,
    card-title-laptop: 2rem,
    card-desc: 4rem,
    card-desc-laptop: 1.5rem,
    btn-txt: 5rem,
    btn-txt-laptop: 2rem,
    price: 1.6rem,
    price-laptop: 0.4rem,
    new: 4rem,
    new-laptop: 1.25rem,
    input: 4.5rem,
    input-laptop: 2rem,
    foot-logo: 5rem,
    foot-logo-laptop: 2.5rem,
    foot-links: 4rem,
    foot-links-laptop: 1.5rem,
    desc-title: 8rem,
    desc-title-laptop: 4rem,
    list-card-num: 3rem,
    list-card-num-laptop: 1.25rem,
    list-card-titre: 3.5rem,
    list-card-titre-laptop: 2rem,
    menu-cat: 5rem,
    menu-cat-laptop: 2.5rem,
    menu-card-title: 4rem,
    menu-card-title-laptop: 2rem,
    menu-card-desc: 3rem,
    menu-card-desc-laptop: 1.5rem,
    menu-card-price: 3rem,
    menu-card-price-laptop: 1.5rem,
    menu-btn: 4rem,
    menu-btn-laptop: 2rem,
);

// Box Shadow
$shadow: (
    offset-bottom: 0rem,
    offset-bottom-laptop: 0rem,
    offset-right: 1.5rem,
    offset-right-laptop: 0.3rem,
    offset-blur: 1.5rem,
    offset-blur-laptop: 0.3rem,
    spread: 0.05rem,
    spread-laptop: 0.05rem,
);

// Taille des icones
$icon-sizes : (
    default: 0.5rem,
    map-marker-size: 4rem,
    map-marker-size-laptop: 2rem,
    list-card-icons: 4rem,
    list-card-icons-laptop: 2rem, 
    large-card-heart-icon: 5rem,
    footer-icons: 3.5rem,
    footer-icons-laptop: 1.5rem,
    rest-heart-icon: 6rem,
    rest-heart-icon-laptop: 3rem,
);

// Animations 
$num-bar: 3;
$anim-dur: 300ms;
$anim-delay: $anim-dur / (2*$num-bar);

$num-cards: 4;
$anim-card-dur: 500ms;
$anim-card-delay: $anim-card-dur;

// Media queries
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;